.navbar {
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
}

.navbar-scrolled{
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.3);
}

:root{
    --bs-body-font-family:  "Shadows Into Light", cursive;
}

.text{
    font-family: "shadows Into Light";
    font-weight: 400;
    font-style: normal;  
}

.col-12{
    margin-left: 60px;
}

.jj{
    padding-bottom: 50px;
    font-size: 30;
}

.h1 d-none{
    font-size: 40px;
}

.c-item{
    height: 480px;
}

.c-image{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}


/* Login Container */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}